.languages {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  position: relative;
  right: 0;
  top: 0;
  margin: 0 1.5rem;
}

select,
.custom-select-container {
  background-color: transparent;
  border: none;
  width: auto;
  padding: 0;
  font-size: 1em;
  border: none;
  outline: none;
}

.option,
.custom-select-option,
.langSelected {
  background-color: var(--fondo-);
  text-align: center;
  cursor: pointer;
  color: var(--hex-);
}
@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 920px) {
}
@media screen and (max-width: 768px) {
  .languages {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    position: relative;
    right: 0;
    top: 0;
    margin: 0 1.5rem;
  }

  select,
  .custom-select-container {
    background-color: var(--fondo);
    border: none;
    width: auto;
    padding: 0;
    font-size: 1em;
    border: none;
    outline: none;
    color: red;
  }

  .option,
  .custom-select-option,
  .langSelected {
    background-color: var(--fondo);
    text-align: center;
    cursor: pointer;
    color: red;
  }

  .languages i {
    display: none;
  }
}
