.nosotros {
  width: 100%;
  height: auto;
  background-color: var(--fondo);
  color: var(--texto);
  padding: 110px;
}

.nosotrosContainer {
  max-width: 1280px;
  height: 526px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nosotrosText {
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.nosotros h3 {
  color: var(--subtitulo);
  margin-bottom: 12px;
}

.nosotros h2 {
  font-weight: 800;
  letter-spacing: -0.1px;
  font-size: 36px;
  margin-bottom: 1rem;
  line-height: 1.2;
}

.nosotros h2 span {
  color: var(--primary);
}

.nosotros p {
  line-height: 1.1;
}

.nosotros p span {
  font-weight: bold;
}

.nosotrosContainer button {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  background-color: var(--primary);
  width: 240px;
  height: 60px;
  border-radius: 14px;
  font-weight: bold;
  cursor: pointer;
  color: var(--hex);
  border: none;
}

.divBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--hex-);
}

i {
  margin: 0.5rem;
}

.nosotrosContainer img {
  border-radius: 20px;
  height: 480px;
}

.nosotros .wrap {
  white-space: normal;
}

@media screen and (max-width: 1280px) {
  .nosotros p {
    font-size: 18px;
    letter-spacing: -0.5px;
  }

  .nosotrosContainer button {
    margin-top: 40px;
  }

  .nosotrosContainer img {
    height: 420px;
  }
}

@media screen and (max-width: 1024px) {
  .nosotros {
    padding: 40px;
  }

  .nosotros h2 {
    font-size: 32px;
    line-height: 1;
  }

  .nosotros p {
    font-size: 17px;
    letter-spacing: -0.8px;
  }

  .nosotrosContainer button {
    margin-top: 32px;
  }

  .nosotrosContainer img {
    height: 400px;
  }
}

@media screen and (max-width: 920px) {
  .nosotros {
    padding: 30px;
  }

  .nosotrosContainer {
    align-items: start;
  }

  .nosotros h2 {
    font-size: 28px;
  }

  .nosotrosContainer button {
    margin-top: 30px;
  }

  .nosotrosContainer img {
    height: 400px;
    margin-left: 1rem;
  }

  .nosotrosContainer button {
    width: 220px;
    height: 50px;
    font-size: 22px;
  }

  .nosotros br {
    display: none;
  }
  .nosotros .wrap {
    white-space: pre-wrap;
  }
}

@media screen and (max-width: 768px) {
  .nosotros {
    padding: 2rem 1rem;
  }

  .nosotrosContainer {
    width: 100%;
    margin: auto;
    height: 100%;
    flex-direction: column-reverse;
    text-align: center;
    align-items: center;
  }

  .nosotros h3 {
    margin-bottom: 0.5rem;
    font-size: 20px;
  }

  .nosotros h2 {
    margin-bottom: 2rem;
    line-height: normal;
    font-size: 24px;
  }

  .nosotrosText {
    height: 100%;
  }

  .nosotros p {
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
  }

  .nosotrosContainer button {
    margin: auto;
    margin-top: 30px;
  }

  .nosotrosContainer img {
    border-radius: 20px;
    width: 330px;
    height: auto;
    margin: 0;
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 325px) {
  .nosotros img {
    width: 300px;
  }
}
