.nosotros {
  width: 100%;
  background-color: var(--fondo);
  color: var(--texto);
  padding: 140px 54px;
}

.nosotrosContainer {
  max-width: 1280px;
  height: 526px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nosotrosText {
  height: 505px;
}

.nosotros h3 {
  color: var(--subtitulo);
  margin-bottom: 18px;
  padding: 0;
}

.nosotros h2 {
  font-weight: 800;
  letter-spacing: -0.1px;
  font-size: 39px;
  margin-bottom: 18px;
  line-height: 1.3;
}

.nosotros h2 span {
  color: var(--primary);
}

.nosotros p {
  line-height: 1;
}

.nosotros p span {
  font-weight: bold;
}

.nosotrosContainer button {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: capitalize;
  background-color: var(--primary);
  width: 240px;
  height: 60px;
  border-radius: 14px;
  font-weight: bold;
  cursor: pointer;
  color: var(--hex);
  border: none;
}
.divBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--hex-);
}

i {
  margin: 0.5rem;
}

.nosotrosContainer img {
  border-radius: 20px;
  height: 526px;
}
