.nosotros {
  height: 500px; /* Momentaneamente */
  width: 100%;
  background-color: var(--background-light);
  color: var(--text);
}

.nosotrosContainer {
  max-width: 1366px;
  margin: auto;
  padding: 2rem;
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 4rem;
}

.nosotrosContainer img {
  border-radius: 20px;
  width: 300px;
}
