.derechos {
  display: flex;
  justify-content: space-between;
  border-top: 3px solid rgba(255, 255, 255, 0.15);
  margin-top: 16px;
  padding: 16px 16px 0rem;
  font-size: 12px;
  font-weight: 200;
}

.derechosContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.derechos .link {
  color: var(--hex-);
  text-decoration: none;
}

@media screen and (max-width: 768px) {
  .derechos {
    flex-direction: column;
    align-items: start;
    padding: 16px 8px 0rem;
  }

  .derechos .link {
    margin-top: 0.5rem;
  }

  .derechosContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
