.datosContainer {
  height: 244px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.columna1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.columna1 .social {
  width: 118px;
  display: flex;
  justify-content: space-between;
}

.columna1 .social img {
  width: 30px;
  filter: invert();
}

.columna2,
.columna2 nav {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.columna2 .navbar-link {
  cursor: pointer;
}

.columna3 {
  display: flex;
  align-items: end;
}

.arrowUp {
  background-color: var(--primary);
  border-radius: 5px;
  border: none;
  width: 37px;
  height: 41px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 3em;
  cursor: pointer;
}

box-icon {
  filter: invert();
  display: flex;
}

.columna2 nav {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

.bx {
  background-color: green;
  color: red;
}

.arrow-up {
  filter: invert();
}

@media screen and (max-width: 600px) {
  .datosContainer {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
  }

  .columna1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
  }

  .columna1 .social {
    width: 118px;
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }

  .columna1 .social img {
    width: 30px;
    filter: invert();
  }

  .columna2,
  .columna2 nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: start;
    margin: 2rem 0rem;
  }

  .columna2 .navbar-link {
    cursor: pointer;
  }

  .columna3 {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-bottom: 1rem;
  }

  .arrowUp {
    background-color: var(--primary);
    border-radius: 5px;
    border: none;
    width: 37px;
    height: 41px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin-left: 1rem;
    padding: 1rem;
  }

  box-icon {
    filter: invert();
    display: flex;
  }

  .columna2 nav {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
  }
}
