.contacto {
  width: 100%;
  height: auto;
  background-color: var(--fondo);
  color: var(--texto-contacto);
  padding: 54px;
}

.contactoContainer {
  max-width: 1366px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  font-size: 1.2em;
  align-items: center;
  text-align: start;
}

.formContainer {
  height: auto;
  display: flex;
  flex-direction: column;
}

.contactoContainer h3 {
  font-size: 24px;
  font-weight: 800;
}

.contactoContainer p {
  font-size: 20px;
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 400px;
}

form label {
  font-size: 20px;
}

.labelNameEmail {
  display: flex;
}

.name,
.email {
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
}

form input,
form textarea {
  width: 300px;
  height: 55px;
  padding: 1rem;
  font-size: 18px;
  border-radius: 15px;
  border: 1px solid var(--texto-contacto);
  font-family: 'Mulish', sans-serif;
}

form textarea {
  width: 616px;
  height: 148px;
}

form button {
  width: 616px;
  height: 55px;
  border-radius: 15px;
  background-color: var(--primary);
  border: none;
  color: var(--hex-);
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.contacto img {
  height: 480px;
}

.textArea {
  display: flex;
  flex-direction: column;
}

#mailto {
  opacity: 0;
  display: none;
}

.wrap {
  white-space: normal;
}

@media screen and (max-width: 1280px) {
  form {
    height: 100%;
  }

  .labelNameEmail {
    display: flex;
    flex-direction: column;
  }

  .name,
  .email {
    margin-right: 0;
  }

  form input,
  form textarea {
    margin: 0.5rem 0rem;
    width: 480px;
  }

  form textarea {
    width: 480px;
  }

  form button {
    width: 480px;
    margin-top: 1.5rem;
    font-weight: 400;
  }

  .contacto img {
    height: 460px;
  }
}

@media screen and (max-width: 1024px) {
  .contacto {
    padding: 40px;
  }

  form input,
  form textarea {
    width: 420px;
  }

  form textarea {
    width: 420px;
  }

  form button {
    width: 420px;
  }

  .contacto img {
    width: 420px;
  }
}

@media screen and (max-width: 920px) {
  .contacto {
    padding: 30px;
  }

  .contactoContainer p {
    font-size: 19px;
  }
  form input,
  form textarea {
    width: 360px;
  }

  form textarea {
    width: 360px;
  }

  form button {
    width: 360px;
  }

  .contacto img {
    width: 360px;
    height: auto;
  }
}

@media screen and (max-width: 768px) {
  .contacto {
    padding: 30px;
  }

  .contactoContainer {
    flex-direction: column-reverse;
  }

  .contactoContainer h3,
  .contactoContainer p {
    text-align: center;
    line-height: 1;
  }

  .contactoContainer h3 {
    margin: 1.5rem;
  }

  form {
    align-items: center;
  }

  .textArea {
    margin-top: 1.5rem;
  }
}

@media screen and (max-width: 600px) {
  .contacto {
    background-color: greenyellow;
  }

  .contactoContainer {
    padding: 2rem 0rem;
  }

  br {
    display: none;
  }

  .wrap {
    white-space: pre-wrap;
  }
}
