.contacto {
  width: 100%;
  background-color: var(--fondo);
  color: var(--texto-contacto);
  padding: 110px 54px;
}

.contactoContainer {
  max-width: 1366px;
  display: flex;
  justify-content: space-between;
  margin: auto;
  font-size: 1.2em;
  align-items: center;
  text-align: start;
}

.formContainer {
  height: 480px;
  display: flex;
  flex-direction: column;
}

.contactoContainer h3 {
  font-size: 24px;
  font-weight: 800;
}

.contactoContainer p {
  font-size: 20px;
  margin-bottom: 1rem;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  height: 400px;
}

form label {
  font-size: 20px;
}

.labelNameEmail {
  display: flex;
}

.name,
.email {
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
}

form input,
form textarea {
  width: 300px;
  height: 55px;
  padding: 1rem;
  font-size: 18px;
  border-radius: 15px;
  border: 1px solid var(--texto-contacto);
  font-family: 'Mulish', sans-serif;
}

form textarea {
  width: 616px;
  height: 148px;
}

form button {
  width: 616px;
  height: 55px;
  border-radius: 15px;
  background-color: var(--primary);
  border: none;
  color: var(--hex-);
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
}

.contacto img {
  max-width: 443px;
}

.textArea {
  display: flex;
  flex-direction: column;
}

#mailto {
  opacity: 0;
  display: none;
}

@media screen and (max-width: 600px) {
  .contacto {
    padding: 56px 34px;
  }

  .contactoContainer {
    max-width: 330px;
    flex-direction: column-reverse;
    align-items: center;
  }

  .formContainer {
    height: 100%;
    width: 300px;
    align-items: center;
  }

  .contactoContainer h3,
  .contactoContainer p {
    text-align: center;
    line-height: 1;
  }

  .contactoContainer h3 {
    margin: 1.5rem;
  }

  .contactoContainer p {
    width: 280px;
  }

  form {
    align-items: center;
    height: 100%;
  }

  form label {
    width: 300px;
  }

  .labelNameEmail,
  .labelTextArea {
    width: 300px;
  }

  .labelNameEmail {
    display: flex;
    flex-direction: column;
  }

  .name,
  .email {
    margin-right: 0;
  }

  form input,
  form textarea {
    margin: 0.5rem 0rem;
  }

  form textarea {
    width: 300px;
  }

  form button {
    width: 300px;
    padding: 1rem;
    margin-top: 1.5rem;
    font-weight: 400;
  }

  .contacto img {
    height: 317px;
  }

  .textArea {
    margin-top: 1.5rem;
  }

  .wrap {
    white-space: pre-wrap;
  }

  br {
    display: none;
  }
}
