.inicio {
  min-height: 800px;
  width: 100%;
  background-image: url('src/assets/img/img-home.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  padding-top: 110px;
}

.inicioContainer {
  max-width: 1366px;
  margin: auto;
  padding: 2rem;
  text-align: center;
}

.inicioContainer span {
  color: var(--text-secondary);
}

.inicioContainer h1 {
  font-weight: 900;
}
