.header {
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 999;
  height: 110px;
}

.header.scrolled {
  z-index: 999;
  background-color: var(--fondo-);
}

.headerContainer {
  /* General del headerContainer */
  max-width: 1280px;
  margin: auto;

  /* Para aplicar a los child del headerContainer */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
  position: relative;
}

.headerContainerRight {
  display: flex;
}

.header.active {
  background-color: var(--fondo-);
}

@media screen and (max-width: 768) {
  .header {
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 999;
    height: 110px;
  }
}
