.servicios {
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 110px 54px;
}

.serviciosContainer {
  max-width: 1280x;
  margin: auto;
  font-size: 1.2em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.serviciosText {
  padding: 0 5rem;
  margin-bottom: 4rem;
}

.serviciosText h2 {
  font-size: 45px;
  margin-bottom: 1rem;
}

.serviciosText p {
  font-size: 23px;
  letter-spacing: -1px;
}

.serviciosContainer img {
  border-radius: 20px;
  width: 300px;
}

.servContainer {
  max-width: 1180px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-wrap: wrap;
  row-gap: 2rem;
}

.serv {
  color: var(--texto-servicios);
  border-radius: 15px;
  padding: 40px 16px;
  width: 210px;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  flex-direction: column;
}

.serv h1 {
  margin: 0;
  padding: 0;
  line-height: 1;
  font-size: 60px;
  font-weight: 900;
  margin-bottom: 50px;
}

.serv h3 {
  font-size: 20px;
  font-weight: 800;
  margin-bottom: 0.2rem;
}

.serv p {
  display: flex;
  font-size: 14px;
  line-height: 1.3;
  justify-content: center;
}

.serv:not(:last-child) {
  margin-right: 25px;
}

.serv:nth-child(1) {
  background-color: var(--servicio-1);
  height: 337px;
}

.serv:nth-child(2) {
  background-color: var(--servicio-2);
  height: 353px;
}

.serv:nth-child(3) {
  background-color: var(--servicio-3);
  height: 368px;
}

.serv:nth-child(4) {
  background-color: var(--servicio-4);
  height: 384px;
}

.serv:nth-child(5) {
  background-color: var(--servicio-5);
  height: 399px;
}

@media screen and (max-width: 600px) {
  .servicios {
    width: 100%;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    padding: 56px 34px;
  }

  .serviciosContainer {
    max-width: 330px;
    margin: auto;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
  }

  .serviciosText {
    padding: 0.5rem;
    margin-bottom: 4rem;
  }

  .serviciosText h2 {
    font-size: 24px;
    margin-bottom: 1rem;
  }

  .serviciosText p {
    font-size: 19px;
    letter-spacing: normal;
  }

  .serviciosContainer img {
    border-radius: 20px;
    width: 300px;
  }

  .servContainer {
    max-width: 1180px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: nowrap;
    row-gap: 2rem;
    overflow: scroll;
  }

  .serv {
    color: var(--texto-servicios);
    border-radius: 15px;
    padding: 40px 16px;
    width: 210px;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
  }

  .serv h1 {
    margin: 0;
    padding: 0;
    line-height: 1;
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 50px;
  }

  .serv h3 {
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 0.2rem;
  }

  .serv p {
    display: flex;
    font-size: 14px;
    line-height: 1.3;
    justify-content: center;
  }
}
