.banner {
  min-width: 100vw;
  height: 40px;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: -20%;
  letter-spacing: 1.5px;
  font-weight: bold;
  font-size: 16px;
  color: rgba(215, 215, 215, 0.56);
  padding: 0.5rem;
  background-color: var(--fondo-);
}

.banner p {
  margin-right: 5rem;
  display: flex;
}

.banner span {
  font-weight: 700;
  color: var(--texto-);
}

@media screen and (max-width: 600px) {
  .banner {
    height: 46px;
    font-size: 16px;
    left: -17px;
    font-size: 15px;
  }

  .banner p {
    margin-right: 3rem;
  }
}
