.footer {
  width: 100%;
  height: auto;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
  padding: 45px;
}

.footerContainer {
  max-width: 1280px;
  margin: auto;
  font-size: 1.2em;
  text-align: center;
}

@media screen and (max-width: 920px) {
  .footer {
    margin: 0;
    height: 100%;
    padding: 1.5rem;
    background-size: 350% 100%;
    background-position: right 70% bottom 10%;
  }

  .footerContainer {
    padding: 2rem;
  }
}

@media screen and (max-width: 600px) {
  .footer {
    margin: 0;
    height: 100%;
    padding: 2.5rem 1.5rem;
    background-size: 350% 100%;
    background-position: right 70% bottom 10%;
  }

  .footerContainer {
    padding: 0rem;
  }
}
