:root {
  color: #ffffff;
  font-family: 'Mulish', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Paleta de Colores */
  --texto: #303030;
  --subtitulo: #6c6c6c;
  --hex: #d7d7d7;
  --fondo: #f4f4f4;
  --hex-: #ffffff;
  --fondo-: #001731;
  --primary: #0071c7;
  --texto-: #69c9ff;

  --texto-servicios: #0f243c;
  --servicio-1: #ffffff;
  --servicio-2: #d0eeff;
  --servicio-3: #95daff;
  --servicio-4: #52c2ff;
  --servicio-5: #1cacfc;

  --texto-contacto: #1e1e1e;

  .wrap {
    white-space: pre-wrap;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-weight: bolder;
}

h2 {
  font-size: 44px;
  font-size: bold;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

body {
  font-size: 20px;
}

button {
  font-size: 24px;
}

.wrap {
  white-space: pre-wrap;
}
