.navbar {
  opacity: 1;
  display: flex;
  visibility: visible;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -1px;
  width: auto;
  height: auto;
}

.navbar .navbar-link {
  margin: 0 1.5rem;
  padding: 0;
  text-decoration: none;
  color: var(--fondo);
  font-size: 23px;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}

.navbar .navbar-link.active {
  font-weight: bold;
}

.navbar .navbar-link.active::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: -10%;
  width: 120%;
  height: 3px;
  background-color: var(--texto-);
}

.toggle {
  width: 28px;
  height: 28px;
  display: none;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 0.5rem;
  transition: all 0.5s;
  cursor: pointer;
  position: relative;
  right: 0px;
}

.line {
  width: 20px;
  height: 3px;
  border-radius: 1rem;
  background-color: var(--fondo);
  transition: transform 0.5s;
}

.toggle.active .line:nth-child(1) {
  transform: translateY(5px) scaleX(0.9) scaleY(0.7) rotate(130deg);
  height: 3px;
  width: 25px;
}

.toggle.active .line:nth-child(3) {
  transform: translateY(-5px) scaleX(0.9) scaleY(0.7) rotate(50deg);
  height: 3px;
  width: 25px;
}

.toggle.active .line:nth-child(2) {
  display: none;
}

@media screen and (max-width: 1024px) {
  .navbar .navbar-link {
    margin: 0 1.2rem;
  }
}

@media screen and (max-width: 920px) {
  .navbar {
    padding: 6rem 1.5rem 1rem;
    opacity: 0;
    visibility: hidden;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0px;
    background-color: var(--fondo-);
    transition: none;
    width: 100px;
    height: 380px;
  }

  .navbar .navbar-link {
    margin: 0.5rem;
  }

  .navbar .navbar-link.active::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0%;
    width: content;
    height: 3px;
    background-color: var(--texto-);
  }

  .toggle {
    display: flex;
    z-index: 999;
  }

  .visible {
    display: flex;
    padding: 6rem 1.5rem 1rem;
    justify-content: stretch;
    align-items: start;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0px;
    opacity: 1;
    visibility: visible;
    background-color: var(--fondo-);
    transition: all 0.5s ease-in-out;
    width: 250px;
    height: 380px;
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    padding: 5rem 1.5rem 1rem;
    width: 100px;
    height: 380px;
  }

  .visible {
    padding: 5rem 1.5rem 1rem;
    width: 200px;
    height: 380px;
  }
}
