.navbar {
  opacity: 1;
  display: flex;
  visibility: visible;
  padding: 0;
  margin: 0;
  align-items: center;
  justify-content: center;
  position: relative;
  top: -1px;
  width: auto;
  height: auto;
}

.navbar .navbar-link {
  margin: 0 1.5rem;
  padding: 0;
  text-decoration: none;
  color: var(--fondo);
  font-size: 24px;
  position: relative;
  transition: 0.3s;
  cursor: pointer;
}

.navbar .navbar-link.active {
  font-weight: bold;
}

.navbar .navbar-link.active::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: -10%;
  width: 120%;
  height: 3px;
  background-color: var(--texto-);
}

.toggle {
  width: 30px;
  height: 30px;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-radius: 0.5rem;
  transition: all 0.5s;
  cursor: pointer;
  position: relative;
  right: 0px;
}

.line {
  width: 30px;
  height: 3px;
  border-radius: 1rem;
  background-color: var(--fondo);
  transition: transform 0.5s;
}

.toggle.active .line:nth-child(1) {
  transform: translateY(7.5px) scaleX(0.9) scaleY(1.4) rotate(150deg);
}

.toggle.active .line:nth-child(3) {
  transform: translateY(-7.5px) scaleX(0.9) scaleY(1.4) rotate(30deg);
}

.toggle.active .line:nth-child(2) {
  display: none;
}

/* MEDIA QUERY 1024PX */
@media screen and (max-width: 1024px) {
}

/* MEDIA QUERY 920PX */
/* @media screen and (max-width: 920px) {
  .navbar {
    display: block;
    opacity: 0;
    visibility: hidden;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    padding: 10rem auto;
    position: absolute;
    right: 0;
    top: 0px;
    background-color: var(--fondo-);
    transition: none;
    width: 250px;
    height: 0vh;
  }

  .navbar .navbar-link {
    margin: 0.5rem;
  }

  .toggle {
    display: flex;
    z-index: 999;
  }

  .visible {
    display: flex;
    padding: 10rem auto;
    justify-content: stretch;
    align-items: center;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0px;
    opacity: 1;
    border-radius: 0 0 0 15px;
    visibility: visible;
    background-color: var(--fondo-);
    transition: all 0.5s ease-in-out;
    width: 250px;
    height: 60vh;
  }
} */

/* MEDIA QUERY 768PX */
@media screen and (max-width: 768px) {
  .navbar {
    padding: 4rem 1rem 1rem;
    opacity: 0;
    visibility: hidden;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    /* padding-top: 1rem; */
    position: absolute;
    right: 0;
    top: 0px;
    background-color: var(--fondo-);
    transition: none;
    width: 266px;
    height: 389px;
  }

  .navbar .navbar-link {
    margin: 0.5rem;
  }

  .navbar .navbar-link.active::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0%;
    width: content;
    height: 3px;
    background-color: var(--texto-);
  }

  .toggle {
    display: flex;
    z-index: 999;
  }

  .visible {
    display: flex;
    padding: 4rem 1rem 2rem;
    justify-content: stretch;
    align-items: start;
    flex-direction: column;
    position: absolute;
    right: 0;
    top: 0px;
    opacity: 1;
    visibility: visible;
    background-color: var(--fondo-);
    transition: all 0.5s ease-in-out;
    width: 266px;
    height: 389px;
  }
}
