.imgLogo {
  height: 70px;
}

@media screen and (max-width: 1280px) {
}

@media screen and (max-width: 920px) {
  .imgLogo {
    height: 60px;
  }
}

@media screen and (max-width: 768px) {
  .imgLogo {
    height: 50px;
  }
}
